

<p>
  <strong>idemployee:</strong>
  <%= @detailservice.idemployee %>
</p>


<p>
  <strong>idorder:</strong>
  <%= @detailservice.idorder %>
</p>


<p>
  <strong>idservice:</strong>
  <%= @detailservice.idservice %>
</p>


<p>
  <strong>price:</strong>
  <%= @detailservice.price %>
</p>


<%= link_to 'Back', detailservices_path %>

<%= link_to 'Edit', edit_detailservice_path(@detailservice) %>