
<%= form_for @detailproduct, html: {class: 'form-horizontal'} do |f| %>

  	<% if @detailproduct.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@detailproduct.errors.count, "error") %> prohibited
              this article from being saved:</h2>
        <ul>
              <% @detailproduct.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="form-group">
    <%= f.label :Id_orden, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :idorder, class: 'form-control' %>
    </div>
  </div>
  <br>

   <div class="form-group">
    <%= f.label :Id_producto, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :idproduct, class: 'form-control' %>
    </div>
  </div>
  <br>
  
  <div class="form-group">
    <%= f.label :Precio, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
    	<%= f.text_field :price, class: 'form-control' %>
    </div>
  </div>
 														<br>


  <div class="form-group">
    <%= f.label :Cantidad, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :quantity, class: 'form-control' %>
    </div>
  </div>
                            <br>

  	<div class="actions form-group">
    	<div class="col-sm-offset-2 col-sm-10">
  			<%= f.submit class: 'btn btn-primary' %>
		</div>
	</div>
<% end %>
</div>

