<div class="container">

<h1 class="text-success">Lista de clientes</h1>
 
<div class="table-responsive">
    <table class="table  table-hover table-condensed">
        
  <thead>

  <tr class="active">
    <th>Nombre</th>
    <th>Cumpleaños</th>
    <th>Telefono</th>
  </tr>
 </thead>
 <tbody>
   <% @clients.each do |client| %>
    <tr class="success text-verdana">
      <td><%= client.name %></td>
      <td><%= client.salary %></td>
      <td><%= client.phone %></td>

      <td><%= link_to 'Ver', client_path(client) %></td>
    <td><%= link_to 'Modificar', edit_client_path(client) %></td>
    <td><%= link_to 'Eliminar', client_path(client),
                    method: :delete, data: { confirm: 'Esta seguro de eliminar el cliente?' } %></td>
    </tr>
  <% end %>


 </tbody>



    </table>

  </div>
</div>


<%= link_to 'Nuevo Empleado', new_client_path %>