<div class="container">

<h1 class="text-success">Lista de empleados</h1>
 
<div class="table-responsive">
    <table class="table  table-hover table-condensed">
        
  <thead>

  <tr class="active">
    <th>Nombre</th>
    <th>Salario</th>
    <th>Telefono</th>
  </tr>
 </thead>
 <tbody>
   <% @employees.each do |employee| %>
    <tr class="success text-verdana">
      <td><%= employee.name %></td>
      <td><%= employee.salary %></td>
      <td><%= employee.phone %></td>

      <td><%= link_to 'Ver', employee_path(employee) %></td>
    <td><%= link_to 'Modificar', edit_employee_path(employee) %></td>
    <td><%= link_to 'Eliminar', employee_path(employee),
                    method: :delete, data: { confirm: 'Esta seguro de eliminar empleado?' } %></td>
    </tr>
  <% end %>


 </tbody>



    </table>

  </div>
</div>


<%= link_to 'Nuevo Empleado', new_employee_path %>