
<div class="container">

<h1 class="text-success">Lista de Ordenes</h1>
 
<div class="table-responsive">
    <table class="table  table-hover table-condensed">
        
  <thead>

  <tr class="active">
    <th>Id_Cita</th>
    <th>Id_cliente</th>
    <th>Importe</th>
    <th>Descuento</th>
    <th>Fecha</th>
    <th>Total</th>

  </tr>
 </thead>
 <tbody>
   <% @orders.each do |order| %>
    <tr class="success text-verdana">
      <td><%= order.idappoiment %></td>
      <td><%= order.idclient %></td>
      <td><%= order.amount %></td>
      <td><%= order.discount %></td>
      <td><%= order.date %></td>
      <td><%= order.total %></td>

      <td><%= link_to 'Ver', order_path(order) %></td>
    <td><%= link_to 'Modificar', edit_order_path(order) %></td>
    <td><%= link_to 'Eliminar', order_path(order),
                    method: :delete, data: { confirm: 'Esta seguro de eliminar la orden?' } %></td>
    </tr>
  <% end %>


 </tbody>



    </table>

  </div>
</div>


<%= link_to 'Nueva Orden', new_order_path %>